.button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    margin: 0;
    padding: 8px 16px;

    color: var(--font-color);

    background-color: var(--card-bg-color);
    border: none;
    border-radius: var(--border-radius-m);
    box-shadow: var(--shadow-elevation-low);
    cursor: pointer;

    transition: transform 100ms ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.button--medium {
  font-size: var(--font-size-m);
}

.button:active {
    color: #fff;

    background-color: var(--color-accent);
    transform: scale(0.9);
    opacity: 0.8;
}

.button:focus {
    outline: var(--outline-style-base);
    outline-offset: var(--outline-offset);
}