.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form__radio-group {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: stretch;

    font-size: 18px;
}

.form__radio-box {
  display: flex;
  flex-basis: 84px;
  flex-grow: 1;
}

.form__radio-label {
  flex-grow: 1;
}

.form__button {
    width: 100%;

    font-size: 24px;
}

.form__options {
    display: flex;
    gap: 20px;
    height: auto;
}

.form__input {
    width: 100%;
    min-height: 48px;
    margin: 0;
    padding: 8px 16px;

    color: var(--font-color);
    font-size: 24px;
    text-align: center;
    text-transform: lowercase;

    background-color: var(--card-bg-color);

    border: none;
    border-radius: 18px;
    box-shadow: var(--shadow-elevation-low);
}

.form__input::placeholder {
    color: var(--georgian-red-light);
    text-transform: none;
}

.form__input:focus {
    outline: 2px solid var(--georgian-red-dark);
    outline-offset: 3px;
}

.form__input:focus::placeholder {
    color: transparent;
}

.form__radio:checked ~ .form__radio-label {
    color: var(--font-color-inverse);

    background-color: var(--georgian-red-dark)
}

.form__radio:focus ~ .form__radio-label {
  outline: 2px solid var(--georgian-red-dark);
  outline-offset: 3px;
}

.form__radio-options {
  transition: opacity 250ms ease-in-out;
}

.form__radio-options:disabled {
  opacity: 0;
}

.form__actions {
  margin-top: 20px;
}

.form__range {
  margin: 0;
}

.form__range-list {
  display: flex;
  gap: 10px;
  justify-content: space-between;

  padding: 0 5px;
}

.form__range-wrapper {
  display: flex;
  flex-direction: column;

  padding: 10px 15px;
}

.form__title {
  margin: 0;
}

.form__legend {
  flex-shrink: 0;
}

.form__settings {
  padding: 30px 20px;

  color: var(--font-color-inverse);

  background-color: var(--georgian-red);
  border: 4px solid var(--georgian-red-dark);
  border-radius: 20px;
}

.form__setting-title {
  text-transform: capitalize;
}

.form__set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
}