.controls {
    display: flex;
    gap: var(--gap-size-m);
    max-width: 370px;
    margin: 0 auto;
    padding: 10px 8px;
}

.controls__actions {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size-s);
  justify-content: space-between;
}

.controls__form {
  flex-grow: 1;
}