.controls {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--gap-size-m);
    max-width: 370px;
    margin: 0 auto;
    padding: var(--gap-size-s);
}

.controls__actions {
  display: flex;
  flex-direction: column;
  gap: var(--gap-size-s);
  justify-content: space-between;
}
