.controls {
    display: flex;
    gap: 20px;
    max-width: 370px;
    margin: 0 auto;
    padding: 10px 8px;
}

.controls__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controls__form {
  flex-grow: 1;
}