.dialog {
  padding: 0;

  background-color: transparent;
  border: none;

  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow-elevation-medium);
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
}