.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px 20px;
}

.footer__copyright {
  margin: 0;

  color: var(--font-color-inverse);
  text-align: center;
}

.footer__link {
  color: var(--font-color-inverse);
}