.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.footer__copyright {
    color: var(--font-color-inverse);
    text-align: center;
}

.footer__link {
    color: var(--font-color-inverse);
}
